body {
    font-family: Arial, sans-serif;
    background-color: #f2f2f2;
    margin: 0;
    padding: 0;
  }

  .container {
    width: 400px;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    position: relative;
  }

  .title-container {
    display: flex;
    align-items: center;
    margin-bottom: 50px;
  }

  .card-title {
    font-size: 24px;
    text-align: center;
    margin: 0;
    color: #009a4e;
    font-weight: 700;
  }


  .icon {
    width: 50px;
    height: 50px;
    margin-right: 20px;
  }

  .btn-container {
    display: block;
    justify-content: space-between;
  }

  .btn {
    width: 100%;
    padding: 10px 0;
    margin-right: 20px;

    margin-bottom: 30px;
    text-align: center;
    font-size: 18px;
    background-color: #009a4e;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }

  a {
    width: 100%;
    padding: 10px 0;
    margin-right: 20px;

    margin-bottom: 50px;
    text-align: center;
    font-size: 18px;
    background-color: #009a4e;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    text-decoration: none;
  }

  form {
    margin-bottom: 40px;
  }

  label {
    display: block;
    margin-bottom: 20px;
    font-size: 1.2em;
  }

  select {
    width: 200px;
    height: 30px;
    font-size: 1em;
  }
  .boton-configuracion {
    display: inline-block;
    padding: 10px 20px;
    font-size: 16px;
    text-align: center;
    text-decoration: none;
    color: #fff;
    background-color: #009a4e;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  .btn:hover {
    background-color: #00542a;
  }